*.aux
*.bbl
*.blg
*.dep
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.kate-swp
*.lof
*.log
*.lot
*.maf
*.md5
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdf
*.pdfsync
*.pgf-plot.*
*.ps
*.pyc
*.snm
*.sty.backup
*.synctex.gz
*.tdo
*.tex.backup
*.toc
*.vrb
*~
.DS_Store
kuva-tmp-*
revision.tex
content/LIITE_vastaukset.tex
